div.klient[suma] {
	background-color:  aqua;
}
div.klient[suma="1500"] {
	background-color: blue;
}
div.klient[detaliczny*="tak"] {
	background-color: red;
}
div.klient[suma^="25"] {
	color: pink;
}
div.klient[suma$="00"] {
	color: white;
}