* {
	box-sizing: border-box;
}
.box {
	border: 5px solid red;
	height: 400px;
	width: 25%;
	float: left;
}
@media (min-width:360px) and (max-width:700px) {
	.box { 
		width: 50%;
		
	}
}
@media (max-width:400px) {
	.box {
		width: 100%;
	}
}